<section class="menu cid-qvQuOC5dxP" once="menu" id="menu1-d" data-rv-view="122">
    <nav
        class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>


        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirisethemes.com">
                        <img src="assets/images/logo2.png" alt="Mobirise" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                <!-- <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="https://mobirisethemes.com">
                        LANDING PAGE TEMPLATE 
                    </a></span> -->
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirisethemes.com">
                        
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirisethemes.com">
                        
                        About Us
                    </a>
                </li>
            </ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-black display-4" href="https://mobirisethemes.com">
                    
                    Try It Now!
                </a></div> -->
        </div>
    </nav>
</section>

<section class="cid-qvQeFy23Ch mbr-fullscreen mbr-parallax-background" id="header2-0" data-rv-view="124">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(144, 108, 128);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1 " id="matrix-medical" >
                    
                   <span style="font-weight:400;">MATRIX MEDICAL NETWORK</span> &nbsp;</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Book an appointmnet at your convenience!</p>
                <div class="mbr-section-btn">
                    <button type="button" class="btn btn-md btn-info display-4" (click)="getUserAppointment()">Get
                        Details</button>
                    <button class="btn btn-md btn-primary display-4" (click)="openModal()">Schedule Appointment</button>
                    <!-- <a class="btn btn-md btn-black display-4" href="https://mobirisethemes.com">BUY TICKETS</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirisethemes.com">MORE INFO</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div> -->
</section>

<section class="features1 cid-qvQeKADmXz" id="features1-1" data-rv-view="127">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 no-border col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbrib-hearth" style="color: rgb(35, 35, 35);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Health</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        At Matrix,Better Quality Care is Delivered to all of it's Members. Integrity in all things&nbsp;
                    </p>
                </div>
            </div>

            <div class="card p-3 no-border col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbrib-users" style="color: rgb(35, 35, 35);" media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Making a Difference</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Our mission, vision and values statements represent our highest aspirations. Our core values
                        live deep within the Matrix culture and embody our profound commitment to service, character and
                        ethics.
                    </p>
                </div>
            </div>

            <div class="card p-3 no-border col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbrib-magic-stick" style="color: rgb(35, 35, 35);"
                        media-simple="true"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Make magic!</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        We create solutions to improve the quality and affordability of healthcare.
                    </p>
                </div>
            </div>



        </div>

    </div>

</section>



<section class="header1 cid-qvQeOE5Mkr mbr-parallax-background" id="header1-3" data-rv-view="133">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(79, 65, 42);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h4 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    MATRIX VALUES
                </h4>
                <h4 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                    OUR VISION
                </h4>
                <!-- <p class="mbr-text align-center pb-3 mbr-fonts-style display-5"> -->
                <ul>
                    <li> Integrity in all things</li>
                    <li>Motivated to innovate</li>
                    <li>Passion for quality and excellence</li>
                    <li>Accountable to our clients and their members, to our investors, and to one another
                        Commitment to make a difference in our communities</li>
                    <li>Teamwork to build a stronger and always improving organization</li>
                </ul>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-white display-4" href="https://matrixmedicalnetwork.com/">
                        <span class="mbr-iconfont mbri-file"></span>LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="testimonials1 cid-qvQfGWW3Zl" id="testimonials1-6" data-rv-view="142">




    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    SOME <strong>REVIEWS </strong>BY OUR VISITORS</h2>
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/catarina-carvalho-344974-1000x1000.jpg" alt="" title=""
                                media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                             I am so very grateful for the staff.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                            Mona Nair
                        </div>

                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/user-review-1000x1000.jpg" alt="" title="" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Good Maintenance and Ambience.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                            Smitha Alumunuri
                        </div>

                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/user-review2-1000x1000.jpg" alt="" title="" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Great Caring and Hospitality.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                            Veer Kumar Johnson
                        </div>

                    </div>
                </div>
            </div>






        </div>
    </div>
</section>

<section class="map1 cid-qvQfVaWl7H" id="map1-9" data-rv-view="162">
    <div class="google-map"><iframe frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJb9yP4jd1K4cROrqdYcwRn_c"
            allowfullscreen=""></iframe></div>
</section>

<section once="" class="cid-qvQfX8F0kh" id="footer6-a" data-rv-view="167">


    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright Shanmukh
                </p>
            </div>
        </div>
    </div>
</section>





<input name="animation" type="hidden">

<!-- <section class="header">
    <div class="container mt-2">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
            </a>
        </nav>
    </div>
</section>
<section class="main-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Confirmation Code" name="confirmationCode" class="form-control" [(ngModel)]="confirmationCode">
                    </div>
                    <button type="submit" class="btn btn-info ml-5" (click)="getUserAppointment()">Submit</button>
                </form>
            </div>
            <div class="col-sm-12 col-xs-12">
                <button class="btn btn-md btn-primary btn-right" (click)="openModal()">create Appointment</button>
            </div>
        </div>
    </div>
</section> -->